version: "3"

services:
  # code-server
  cdr:
    environment:
      TZ: "Asia/Seoul"
    build:
      context: .
      dockerfile: ./cdr.Dockerfile
    volumes:
        # dood
      - /var/run/docker.sock:/var/run/docker.sock
        # data (extensions, settings etc)
      - ./cdr-data:/home/coder/.local/share/code-server
        # jekyll project
      - ../rokong.github.io:/home/coder/rokong.github.io
    ports:
      - 127.0.0.1:8081:8080
    networks:
      intranet: 
        ipv4_address: 172.18.0.11

  # blog
  jekyll:
    environment:
      TZ: "Asia/Seoul"
#    build:
#      context: .
#      dockerfile: ./jekyll.Dockerfile
    image: jekyll/jekyll:4.2.0
    volumes:
        # jekyll project
      - ../rokong.github.io:/srv/jekyll
    ports:
      - 127.0.0.1:8082:4000
    networks:
      intranet:
        ipv4_address: 172.18.0.12

networks:
  intranet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/16
          gateway: 172.18.0.1